@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

*{
    font-family: "Nunito", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
  font-size: 16px;
}

body{
  background-color: #F4F4F4;
  overflow-x: hidden; 
}

/*tela inicial*/

.container > .inicial {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
}

.row {
    display: flex;
    width: 100%;
}

.col {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 0;
}

.col:first-child {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.crianca{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -10%;
}

.titulo{
  position: absolute; 
  left: 10%; 
  width: 100%; 
  z-index: 2;
}

.titulo > .principal{
  font-size: 3vw;
  font-weight: bold;
  color: #F4F4F4;
  line-height: 1;
}

.titulo > .subTitulo{
  line-height: 1;
  font-size: 1.5vw;
  color: #F4F4F4;
}

button {
  color: #FAFAFA;
  padding: 0.5vw 1.5vw;
  border: 2px solid #FAFAFA;
  background: #004852;
  box-shadow: .4vw .4vw #fafafa;
  cursor: pointer;
  margin: 35vw 0;
}

button:active {
  box-shadow: none;
  transform: translate(3px, 3px);
}

/*fim tela inicial*/

/*tela mapa*/
.container > .mapa {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
}

.incorpMapa{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: -10%;
}


.textoMapa > .principal2{
  font-size: 2.5vw;
  font-weight: bold;
  color: #000000;
  line-height: 1.2;
}

.textoMapa > .subTitulo2{
  line-height: 1.3;
  font-weight: bold;
  font-size: 1.4vw;
  color: #000000;
}

.search-container{
  width: 40vw;
  display: block;
  margin: 0 auto;
  margin-top: 1vw;
  border-radius: 10px;
  margin: 0;
}

input#search-bar{
  border-radius: 50px;
  margin: 0 auto;
  margin-top: 1vw;
  width: 70%;
  height: 3em;
  padding: 0 2em;
  font-size: 1vw;
  border: 1px solid #D0CFCE;
  outline: none;
  &:focus{
    border: 1px solid #000000;
    transition: 0.35s ease;
    color: #000000;
    &::-webkit-input-placeholder{
      transition: opacity 0.45s ease; 
  	  opacity: 0;
     }
    &::-moz-placeholder {
      transition: opacity 0.45s ease; 
  	  opacity: 0;
     }
    &:-ms-placeholder {
     transition: opacity 0.45s ease; 
  	 opacity: 0;
     }    
   }
 }

.search-icon{
  position: relative;
  float: right;
  width: 5vw;
  height: 5vw;
  right: 28%;
}

@media (max-width: 500px) {
  .search-icon{
    
  }
}

